<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.board.applicion">

    <!--外存储写权限，构建语法需要用到此权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Required to provide the web interface -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Required to run keep-alive service when targeting API 28 or higher -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".view.splash.SplashActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.login.LoginActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.main.MainActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <!--配置界面-->
        <activity
            android:name=".view.deploy.user.UserManagerActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".view.deploy.user.UserAddActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".view.deploy.substation.SubstationManagerActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.deploy.substation.SubstationAddActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.deploy.mainControlRoom.MainControlRoomManagerActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.deploy.mainControlRoom.MainControlRoomAddActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:windowSoftInputMode="adjustPan|stateHidden" />


        <activity
            android:name=".view.deploy.mainControlRoom.MainControlRoomChooseActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".view.deploy.substation.SubstationChooseActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:windowSoftInputMode="adjustPan|stateHidden" />


        <activity
            android:name=".view.deploy.cabinet.CabinetAddActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".view.deploy.cabinet.CabinetManagerActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.deploy.cabinet.CabinetChooseActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.deploy.template.TemplateSettingActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".view.deploy.switchBoard.SwitchBoardAddActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".view.deploy.switchBoard.SwitchBoardManagerActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <!--检查-->
        <activity
            android:name=".view.examination.room.CabinetListActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:windowSoftInputMode="adjustPan|stateHidden" />
    </application>

</manifest>